<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://upload-widget.cloudinary.com/global/all.js"
      type="text/javascript"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!--Bootstrap, Fontawesome, css.style links -->
    <title>SideSwipe</title>
  </head>
  <body>
    <header>
      </nav>
      <h1>Welcome to SideSwipe</h1>
    </header>
    <nav>
      <a href="/"> Home</a>
      <a href="/dashboard" id="dashboardButton">Dashboard</a>
      {{#if loggedIn}}
        <button id="logout"> Logout</button>
      {{else}}
        <a href="/users/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <!-- link to carsSeedData -->
      <div class="gallery-of-vehicles">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- Github + "name" + LinkedIn -->

      <footer class="footer">

      <p> 
           <div> <a href="https://github.com/AdamKuemmel" target="no_blank"> <img src="/Images/GitHubLogo.png" alt="Github Link" class="img"></a> Adam <a href="https://www.linkedin.com/in/adam-kuemmel-74a3421b6/" target="no_blank"> <img src="/Images/LinkedInLogo.png" alt="LinkedIn" class="img"></a></div>

           <div> <a href="https://github.com/BrockAtwood" target="no_blank"> <img src="/Images/GitHubLogo.png" alt="Github Link" class="img"></a> Brock <a href="https://www.linkedin.com/in/brock-atwood-55135210/" target="no_blank"> <img src="/Images/LinkedInLogo.png" alt="LinkedIn" class="img"></a></div>

           <div> <a href="https://github.com/Jukphillips" target="no_blank"><img src="/Images/GitHubLogo.png" alt="Github Link" class="img"></a> Justin <a href="https://www.linkedin.com/in/justin-phillips-965a39218/" target="no_blank"> <img src="/Images/LinkedInLogo.png" alt="LinkedIn" class="img"></a></div>
          
           <div> <a href="https://github.com/7steph7gmailcom" target="no_blank"> <img src="/Images/GitHubLogo.png" alt="Github Link" class="img"></a> Stephanie <a href="https://www.linkedin.com/in/stephanie-johansson-934096213/" target="no_blank"> <img src="/Images/LinkedInLogo.png" alt="LinkedIn" class="img"></a></div>
        </p>
      </footer>

  </body>
</html>

{{!-- included for a test --}}