<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap, Fontawesome, css.style links -->
    <title>SideSwipe</title>
  </head>
  <body>
    <header>
      <h1>Welcome to SideSwipe</h1>
    </header>
    <nav>
      <a href="/"> Home</a>
      {{#if Loggedin}}
        <button id="logout" class="btn-no-style"> Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <!-- link to carsSeedData -->
      <div class="gallery-of-vehicles">
        {{{body}}}
      </div>
    </main>
    {{#if LoggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>