<div id="card" style="width: 18rem;">
  {{! <img src="..." class="card-img-top" alt="..." /> }}
  <div class="card-body">
    <h5 class="card-title">All Cars</h5>
    <p class="card-text">Click here if you would like to view all of the cars
      that sideSwipe has available!</p>
    <a href="/" class="btn btn-primary">View All</a>
  </div>
</div>
<div id="card" style="width: 18rem;">
  {{! <img src="..." class="card-img-top" alt="..." /> }}
  <div class="card-body">
    <h5 class="card-title">My Cars</h5>
    <p class="card-text">Click here if you would like to view all of your
      listings!</p>
    <a href="/dashboard/myCars" class="btn btn-primary">My Listings</a>
  </div>
</div>
<div id="card" style="width: 18rem;">
  {{! <img src="..." class="card-img-top" alt="..." /> }}
  <div class="card-body">
    <h5 class="card-title">Post Car</h5>
    <p class="card-text">Click here if you would like to post a car for sale on
      sideSwipe!</p>
    <a href="/dashboard/postcar" class="btn btn-primary">sideSwipe!</a>
  </div>
</div>