<div class="login-card">
    <h2 class="page-title">Sell your car here!</h2>
    <form class="form signup-form">
        <div class="form-group">
            <label for="make-postcar">What is the make of your vehicle?</label>
            <input class="form-input" type="text" id="make-postcar" />
        </div>
        <div class="form-group">
            <label for="model-postcar">What is the model of your vehicle?</label>
            <input class="form-input" type="text" id="model-postcar" />
        </div>
        <div class="form-group">
            <label for="year-postcar">What is the year of your vehicle?</label>
            <input class="form-input" type="text" id="year-signup" />
        </div>
        <div class="form-group">
            <label for="color-postcar">What is the color of your vehicle?</label>
            <input class="form-input" type="text" id="color-postcar" />
        </div>
        <div class="form-group">
            <label for="mileage-postcar">What is the mileage of your vehicle?</label>
            <input class="form-input" type="text" id="mileage-postcar" />
        </div>
        <div class="form-group">
            <label for="price-postcar">What price would you like to sell the vehicle?</label>
            <input class="form-input" type="text" id="price-postcar" />
        </div>
        <!-- email, user, password, first name, last name, and phone number -->
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit your vehicle!</button>
        </div>
    </form>
</div>
</div>

<script src="/login.js"></script>