:root {
  
  --lightBlue: #46B0C7
  --darkBlue: #12687A
  --medBrown: #C78346
  --lightBrown: #FFB473
  --darkBrown: #7A491F
}

body {
  justify-content: center;
  background-color: #FFB473;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 100px;
  background-color: #7A491F;
  color:  #FFB473;
  text-align: center;
}

nav {
  display: flex;
  font-size: 30px;
  flex-wrap: wrap;
  text-align: center;
  background-color: #7A491F;
  justify-content: space-around;
  color:  black;
  font-family: 'Alfa Slab One', cursive;
font-family: 'Amatic SC', cursive;

}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.gallery-of-vehicles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #C78346;
  color: #FFB473;
}

#card {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-color: #7A491F;
  background-color: #C78346;
}

.card-text {
  color: black;
  font-size: 113%;
}

.card-body {
  padding-left: 10px;
  background-color:  #46B0C7;
  border-radius: 5%;
}

.footer {
  background-color: #586978;
  color: var(--accentgrey);
  font-family: "Quicksand", sans-serif;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
}

.img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.row-justify-space-between-md {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  height: 75vh;
  margin-top: 10px;
}

.login-card {
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-evenly;
  text-align: center;
  background-color:  #12687A;
  color:  #46B0C7;
  height: 50vh;
  border-radius: 5%;
}
.form-group {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn btn-primary {
  justify-content: center;
}

.single-page-container {
  display: flex;
  justify-content: space-evenly;
}
.single-page-card {
  display: flex;
  width: 100%;

  text-align: center;
  height: 75vh;
  margin-top: 10px;
}

.seller-info {
  margin-left: 20px;
}

.car-info {
  flex-direction: column;
}

nav a {
  color:  #46B0C7;
  font-size: 125%;
}